---
import { LinkButton } from "../ui/link-button";
import Background from "@/assets/partnership/honey-comb.svg";
import { type Language } from "@/i18n/ui";
import { useTranslations } from "@/i18n/utils";
import { SquareUser } from "lucide-react";

interface Props {
  lang: Language;
}

const { lang } = Astro.props;
const t = useTranslations(lang);
---

<div class="container my-20">
  <div
    class="relative mx-auto xl:min-w-6xl lg:min-w-4xl min-w-full flex flex-col gap-8 rounded-3xl lg:p-20 md:p-12 p-8 bg-gradient-to-r from-[#004282] via-[#05539F] to-[#002D58] items-center overflow-hidden"
  >
    <Background class="object-fill absolute inset-0 h-full left-0" />
    <h2 class="text-3xl md:text-4xl text-white font-bold mb-4 text-center">
      {t("home.partnership.box.title")}
    </h2>
    <p class="text-base md:text-xl text-white text-center">
      {t("home.partnership.box.description")}
    </p>
    <LinkButton
      className="w-40 h-11 rounded-full bg-secondary text-white text-sm font-medium text-center flex justify-center hover:bg-secondary/90 z-10"
      size={"lg"}
      href={`/${lang}/contact`}
    >
      <SquareUser className="size-5" />
      {t("partner.button.AboutUs")}
    </LinkButton>
  </div>
</div>
