---
import { LinkButton } from "../ui/link-button";
import background from "@/assets/partnership/honey-comb.svg";
import { type Language } from "@/i18n/ui";
import { useTranslations } from "@/i18n/utils";
import { Image } from "astro:assets";
import { SquareUser } from "lucide-react";

interface Props {
  lang: Language;
}

const { lang } = Astro.props;
const t = useTranslations(lang);
---

<div class="container my-12 flex items-center justify-center">
  <div
    class="mx-auto max-w-7xl flex flex-col gap-8 rounded-3xl lg:p-20 md:py-20 p-4 bg-gradient-to-r from-[#004282] via-[#05539F] to-[#002D58] items-center relative overflow-hidden"
  >
    <div>
      <Image
        src={background}
        alt="Background"
        class="object-fill absolute inset-0"
        aria-hidden="true"
      />
    </div>
    <div class="relative z-10">
      <h2
        class="text-3xl md:text-4xl text-white font-semibold mb-4 text-center"
      >
        {t("home.partnership.box.title")}
      </h2>
      <p class="text-sm md:text-base text-white text-center">
        {t("home.partnership.box.description")}
      </p>
    </div>
    <LinkButton
      className="w-40 h-11 rounded-full bg-secondary text-white text-sm font-medium text-center flex justify-center hover:bg-secondary/90 z-10"
      size={"lg"}
      href={`/${lang}/contact`}
    >
      <SquareUser className="size-5" />
      {t("partner.button.AboutUs")}
    </LinkButton>
  </div>
</div>
