---
import { Button } from "@/components/ui/button";

import { defaultLang, languages, ui, type SupportedLanguage } from "@/i18n/ui";
import Layout from "@/layouts/layout.astro";

export async function getStaticPaths() {
  return Object.keys(languages).map((lang) => ({
    params: { lang },
  }));
}

const currentLocale = (Astro.url.pathname.split("/").filter(Boolean)[0] ||
  defaultLang) as SupportedLanguage;

const safeLocale: SupportedLanguage = Object.keys(languages).includes(
  currentLocale,
)
  ? currentLocale
  : "en";

const translations = ui[safeLocale];

const t = (key: string) => translations[key] || key;

const homepageUrl = `/${safeLocale}`;
---

<Layout title="404">
  <div class="bg-gradient-to-b from-gray-100 to-white text-center">
    <div class="flex flex-col items-center justify-center py-10 space-y-10">
      <div class="flex flex-col gap-6 rounded-lg">
        <h1 class="text-[128px] font-bold text-destructive">
          {t("404.title.1")}
        </h1>
        <div class="space-y-3">
          <p class="text-2xl font-semibold text-gradient-b md:text-4xl">
            {t("404.description.1")}
          </p>
          <p class="text-2xl">
            {t("404.description.2")}
          </p>
          <p class="text-2xl">
            {t("404.description.3")}
          </p>
        </div>
      </div>
      <Button
        className="items-center gap-2 whitespace-nowrap transition-all disabled:pointer-events-none disabled:opacity-50 [&_svg]:pointer-events-none [&_svg:not([class*='size-'])]:size-4 shrink-0 [&_svg]:shrink-0 outline-none focus-visible:border-ring focus-visible:ring-ring/50 focus-visible:ring-[3px] aria-invalid:ring-destructive/20 dark:aria-invalid:ring-destructive/40 aria-invalid:border-destructive underline-offset-4 hover:underline px-25 py-7 has-[>svg]:px-3 w-40 h-11 rounded-full bg-primary text-white text-sm font-medium text-center flex justify-center hover:bg-primary/90"
      >
        <a
          class="w-full h-full flex items-center justify-center no-underline text-l"
          href={homepageUrl}
        >
          {t("404.description.4")}
        </a>
      </Button>
    </div>
  </div>
</Layout>
