---
import Jsonld from "@/components/layout/Jsonld.astro";

const cannonicaURL = new URL(Astro.site ?? "");
---

<meta http-equiv="refresh" content="0;url=/km/" />
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width" />
<link rel="icon" type="image/svg+xml" href="/dsdp-logo-final.svg" />
<link rel="sitemap" href="/sitemap-0.xml" />

<title>DSDP Cambodia</title>
<meta
  name="description"
  content="DSDP Cambodia - Digital Service Delivery Platform"
/>

<meta
  name="keywords"
  content="DSDP, Cambodia, Digital, Service, Platform, Government, Public Service, Digital Transformation, សេវាឌីជីថល, កម្ពុជា, រដ្ឋាភិបាល"
/>
<meta name="author" content="DSDP Cambodia" />
<meta
  name="robots"
  content="index, follow, max-snippet:-1, max-image-preview:large, max-video-preview:-1"
/>
<link rel="canonical" href={cannonicaURL} />

<meta property="og:locale" content="km" />
<meta property="og:type" content="website" />
<meta property="og:site_name" content="DSDP Cambodia" />
<meta property="og:title" content="DSDP Cambodia" />
<meta
  property="og:description"
  content="DSDP Cambodia - Digital Service Delivery Platform"
/>
<meta property="og:url" content={cannonicaURL} />
<meta property="og:image" content="/dsdp-logo-final.svg" />
<meta property="og:image:alt" content="DSDP Cambodia" />

<meta name="twitter:card" content="summary_large_image" />
<meta name="twitter:title" content="DSDP Cambodia" />
<meta
  name="twitter:description"
  content="DSDP Cambodia - Digital Service Delivery Platform"
/>
<meta name="twitter:image" content="/dsdp-logo-final.svg" />
<meta name="twitter:site" content="@dsdp_cambodia" />
<meta name="twitter:creator" content="@dsdp_cambodia" />

<Jsonld
  title="DSDP Cambodia"
  description="DSDP Cambodia - Digital Service Delivery Platform"
  siteUrl={cannonicaURL}
  canonicalUrl={cannonicaURL}
  defaultSiteProjectName="DSDP Cambodia"
  image="/dsdp-logo-final.svg"
  type="WebPage"
  author={{ name: "DSDP Cambodia", url: cannonicaURL }}
/>
