---
import { formatDate } from "@/lib/utils";

import type { ImageMetadata } from "astro";
import { Image } from "astro:assets";

export interface Props {
  title: string;
  date: Date;
  author: string;
  image?: ImageMetadata;
  lang: string;
}

const { title, date, author, image, lang } = Astro.props;
---

<article class="container mx-auto my-4">
  {
    image && (
      <Image
        src={image}
        alt={title}
        class="rounded-lg w-full aspect-video object-cover"
        loading="lazy"
        width={1000}
        height={1000}
      />
    )
  }

  <section class="max-w-5xl mx-auto space-y-6">
    <h1
      class="text-xl lg:text-4xl font-bold text-primary leading-snug text-justify lg:text-start mt-8"
    >
      {title}
    </h1>
    <p
      class="flex items-center gap-4 text-secondary font-bold md:text-xl text-lg"
    >
      <span>{author},</span>
      <span>
        <time>{formatDate(date.toISOString(), lang)}</time>
      </span>
    </p>
    <div class="prose md:prose-lg lg:prose-xl max-w-none text-justify">
      <slot />
    </div>
  </section>
</article>
