---
import { Card } from "@/components/ui/card";

import serviceImg from "@/assets/contact/contact.gif";
import { SOCIAL_MEDIA_DATA } from "@/data/SocialMedia";
import { languages, type Language } from "@/i18n/ui";
import { useTranslations } from "@/i18n/utils";
import Layout from "@/layouts/Layout.astro";
import { Mail, MapPin, Phone } from "lucide-react";
import Background from "@/assets/about/about-us/background2.svg"

export async function getStaticPaths() {
  return Object.keys(languages).map((lang) => ({
    params: { lang: lang as Language },
  }));
}

const { lang } = Astro.params;
const t = useTranslations(lang);
---

<Layout
  title="ទំនាក់ទំនង - Contact Us"
  description="Reach out to us with your questions, feedback, or partnership inquiries — we’re here to help!"
  author="DSDP Cambodia"
>
  <div class="relative">
    <Background
      class="absolute max-w-1/3 top-[-1.5%] right-0  h-auto select-none hidden md:block"
      role="presentation"
    />
    <section class="my-10 relative z-0">
      <div
        class="container mx-auto px-4 grid grid-cols-1 md:grid-cols-2 gap-12 items-start"
      >
        <div class="space-y-6">
          <h2
            class="text-2xl md:text-3xl lg:text-4xl font-bold text-gradient-b"
          >
            {t("contact.title.1")}
          </h2>

          <p
            class="flex items-start gap-3 text-gradient-b font-semibold text-lg space-x-4"
          >
            <Phone className="min-w-6 min-h-6 text-secondary" />
            <span>{t("contact.description.2")}</span>
          </p>
          <p
            class="flex items-center gap-2 text-gradient-b font-semibold text-lg space-x-4"
          >
            <Mail className="min-w-6 min-h-6 text-secondary" />
            <span>{t("contact.description.3")}</span>
          </p>
          <p
            class="flex items-start gap-2 text-gradient-b font-semibold text-lg space-x-4"
          >
            <MapPin className="min-w-6 min-h-6 text-secondary" />
            <span>{t("contact.description.4")}</span>
          </p>
          <div class="flex gap-4 mt-14">
            {
              SOCIAL_MEDIA_DATA.map((item) => (
                <a
                  href={item.href}
                  target="_blank"
                  rel="noopener noreferrer"
                  class="rounded-full bg-secondary text-white flex items-center justify-center w-10 h-10 transition hover:bg-secondary/90"
                >
                  <item.icon class="h-5 w-5" />
                </a>
              ))
            }
          </div>
        </div>
        <div class="flex flex-col justify-between items-center h-full">
          <img
            src={serviceImg.src}
            alt="Service"
            width={1000}
            height={1000}
            class="lg:w-2/3 w-full object-cover aspect-video"
          />
        </div>
      </div>
    </section>

    <section class="relative z-0">
      <div class="container mx-auto px-4">
        <h2 class="text-2xl md:text-3xl lg:text-4xl font-bold text-gradient-b">
          {t("contact.title.2")}
        </h2>
        <Card className="mt-4 md:mt-10 mb-10">
          <iframe
            class="w-full aspect-[21/9] mx-auto"
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3908.6732149596046!2d104.91480367585223!3d11.57526794394968!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31095142eadcf8db%3A0xbd4e32a5eccddfb7!2sMinistry%20of%20Post%20and%20Telecommunications!5e0!3m2!1sen!2skh!4v1753945724231!5m2!1sen!2skh"
            allowfullscreen
            referrerpolicy="no-referrer-when-downgrade"></iframe>
        </Card>
      </div>
    </section>
  </div>
</Layout>
