---
import AboutTeamCard from "@/components/pages/about/components/AboutTeamCard.astro";

import RenderHTML from "./components/RenderHTML";
import CardImg from "@/assets/about/about-team/h.e_chea_vandeth's_portrait.jpg";
import { useTranslations } from "@/i18n/utils";

interface Props {
  lang: string;
}

const { lang } = Astro.props;
const t = useTranslations(lang);
---

<div class="container mx-auto mt-23 mb-32">
  <h1 class="text-center text-4xl font-bold text-primary mb-12">
    {t("about.team.title")}
  </h1>
  <AboutTeamCard
    name={t("about.team.name")}
    position={t("about.team.position")}
    ministry={t("about.team.ministry")}
    img={CardImg}
  />
  <article class="mt-12 mb-6 text-justify leading-loose text-base">
    <RenderHTML html={t("about.team.description1")} />
    <br />
    <RenderHTML className="font-medium" html={t("about.team.description2")} />
  </article>
</div>
