---
import contact_team from "@/assets/about/about-team/Mailbox-rafiki.png";
import { languages } from "@/i18n/ui";
import { useTranslations } from "@/i18n/utils";
import Layout from "@/layouts/layout.astro";
import type { GetStaticPaths } from "astro";
import { Image } from "astro:assets";

export const getStaticPaths = (() => {
  return Object.keys(languages).map((lang) => ({
    params: { lang },
  }));
}) satisfies GetStaticPaths;

const { lang } = Astro.params;
const t = useTranslations(lang);
---

<Layout
  title="អំពីក្រុមឌីអេសឌីធី - About DSDP Team"
  description="Meet the dedicated team behind DSDP, working together to drive our mission and make a positive impact in the community."
  author="DSDP Cambodia"
>
  <Image
    src={contact_team}
    alt="DSDP Team"
    width={contact_team.width}
    height={contact_team.height}
    class={"lg:w-1/3 md:w-2/3 mx-auto w-full"}
  />
  <div
    aria-label="How to apply"
    class="container max-w-3xl mx-auto mb-10 space-y-5 text-primary"
  >
    <h1 class="md:text-4xl text-3xl font-bold text-center md:leading-relaxed">
      {t("contact.team.title")}
      <a href="tel:123" class="text-secondary">123</a>
    </h1>
  </div>
</Layout>
