---
import AboutUsComponent from "@/components/pages/about/about-us-content.astro";

import background_style from "@/assets/about/about-us/backgorund-style.svg";
import background_svg_blob from "@/assets/about/about-us/background-svg-blob.svg";
import { languages, type Language } from "@/i18n/ui";
import Layout from "@/layouts/layout.astro";
import { Image } from "astro:assets";

export async function getStaticPaths() {
  return Object.keys(languages).map((lang) => ({
    params: { lang: lang as Language },
  }));
}

const { lang } = Astro.params;
---

<Layout
  title="អំពីឌីអេសឌីធី - About DSDP"
  description="Discover DSDP's mission and initiatives, and see how we're making a positive impact in the community."
  author="DSDP Cambodia"
>
  <!-- Background decorations -->
  <section class="relative w-screen left-1/2 -translate-x-1/2 overflow-hidden">
    <div class="absolute inset-0 -z-10 pointer-events-none">
      <Image
        src={background_style}
        alt="top background"
        class="absolute top-[5%] right-[60%] w-full max-w-full h-auto select-none hidden md:block opacity-50"
        width={1000}
        height={1000}
      />
      <Image
        src={background_svg_blob}
        alt="bottom background"
        class="absolute bottom-[10%] left-[50%] w-full max-w-full h-auto rotate-[270deg] -scale-x-[1] select-none hidden md:block opacity-50"
        width={1000}
        height={1000}
      />
    </div>

    <AboutUsComponent lang={lang} client:load />
  </section>
</Layout>
