---
import Navbar from "@/components/layout/NavBar";

import "@/styles/global.css";

// Add 'lang' to the Props interface
export interface Props {
  title: string;
  lang: "en" | "km"; // Expect 'lang' to be passed directly
}

const { title, lang } = Astro.props;

const currentPath = Astro.url.pathname;
---

<!doctype html>
<html lang={lang}>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <title>{title}</title>
  </head>
  <body class="flex min-h-screen flex-col">
    <Navbar lang={lang} currentPath={currentPath} client:load />
    <main>
      <slot />
    </main>
  </body>
</html>
